<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<string>6BB9F0</string>
	<key>2</key>
	<string>A2DED0</string>
	<key>3</key>
	<string>3FC380</string>
	<key>4</key>
	<string>00B16A</string>
	<key>5</key>
	<string>F7CA18</string>
	<key>6</key>
	<string>F2784B</string>
	<key>7</key>
	<string>D64541</string>
	<key>8</key>
	<string>F9690E</string>
	<key>9</key>
	<string>E87E04</string>
	<key>10</key>
	<string>D35400</string>
	<key>11</key>
	<string>4183D7</string>
	<key>12</key>
	<string>2574A9</string>
</dict>
</plist>
